<ul class="nav nav-pills">
  <li class="nav-item">
    <a class="nav-link text-white"> Strona główna </a>
  </li>
  <li class="nav-item">
    <a class="nav-link text-white"> Strona 404 </a>
  </li>
  <li class="nav-item">
    <a class="nav-link text-white"> Rejestracja </a>
  </li>
  <li class="nav-item">
    <a class="nav-link text-white"> Logowanie </a>
  </li>
  <li class="nav-item">
    <a class="nav-link text-white">Profil</a>
  </li>
  <li class="nav-item">
    <button class="nav-link text-white">Wyloguj</button>
  </li>
</ul>
